# We need to set up the /etc overlayfs before switch-root. Otherwise there
# are several problems during early boot like journald not starting.
[Unit]
Description=EndlessOS live /etc setup
DefaultDependencies=no
After=initrd-switch-root.target
After=ostree-prepare-root.service
Before=initrd-switch-root.service
Before=plymouth-switch-root.service
ConditionKernelCommandLine=endless.live_boot

[Service]
Type=oneshot
ExecStart=/usr/bin/mkdir -p /run/eos-live/etc /run/eos-live/etc-workdir
ExecStart=/usr/bin/mount -t overlay -o rw,upperdir=/run/eos-live/etc,lowerdir=/sysroot/etc,workdir=/run/eos-live/etc-workdir eos-live-etc /sysroot/etc
RemainAfterExit=yes
