[flake8]
# The default is 79 characters. One popular Python code formatter
# https://github.com/ambv/black#line-length defaults to 88 which is based on
# some empirical research on reducing annoying line wrapping on real source
# code.
max-line-length = 88

# Include scripts to check in addition to the default *.py.
filename =
    *.py,
    ./eos-esp-generator,
    ./eos-migrate-chromium-profile,
    ./eos-migrate-firefox-profile,
    ./eos-update-flatpak-repos,
    ./factory-reset/eos-factory-reset,
    ./record-boot-success/record-boot-success,
    ./tests/check-syntax
