*~
*.[oa]
.deps/
.pytest_cache/
__pycache__/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
fallback-fb-setup/fallback-fb-setup
flatpak-extension-runtime-fdo-openh264-watcher.path
install-sh
missing
psi-monitor/psi-monitor
tmpfiles.d/chromium-system-services.conf
tmpfiles.d/flatpak-extension-runtime-fdo-openh264.conf
test-driver
tests/*.log
tests/*.trs
