*~
*.[oa]
.deps/
.pytest_cache/
__pycache__/
com.endlessm.TestMode.policy
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
fallback-fb-setup/fallback-fb-setup
install-sh
missing
tmpfiles.d/chromium-system-services.conf
test-driver
tests/*.log
tests/*.trs
