[Unit]
Before=local-fs.target
ConditionKernelCommandLine=ostree

[Mount]
What=/sysroot/boot
Where=/boot
Type=none
Options=bind

[Install]
WantedBy=local-fs.target
