[Unit]
After=ostree-remount.service
Before=local-fs.target
ConditionPathIsDirectory=/var/endless-extra

# Don't break existing systems with the old symlink setup
ConditionPathIsSymbolicLink=!/endless

# Ensure mounted directories exist. Systemd won't handle this for us
# since it doesn't understand the overlay.
After=endless-mount-dirs.service
Wants=endless-mount-dirs.service

# Ensure var-endless\x2dextra.mount is enabled on upgrades
After=eos-enable-extra-upgrade.service
Wants=eos-enable-extra-upgrade.service

# Overlay mount dependencies. Only After is specified for
# /var/endless-extra so that single disk units don't wait for a device
# that doesn't exist.
After=var-endless\x2dextra.mount
RequiresMountsFor=/var/endless

[Mount]
What=endless
Where=/endless
Type=overlay
Options=rw,lowerdir=/var/endless-extra,upperdir=/var/endless,workdir=/var/endless-workdir

[Install]
WantedBy=local-fs.target
