[Unit]
After=ostree-remount.service
Before=local-fs.target
ConditionPathIsDirectory=/var/endless-extra
ConditionPathIsSymbolicLink=!/endless

# Overlay mount dependencies. It would be nice to use RequiresMountsFor
# for both the directories, but we want to continue if the extra storage
# mount at /var/endless-extra fails (SD card missing or has failed).
# Manually add After and Wants for that unit.
After=var-endless\x2dextra.mount
Wants=var-endless\x2dextra.mount
RequiresMountsFor=/var/endless

[Mount]
What=endless
Where=/endless
Type=overlayfs
Options=rw,lowerdir=/var/endless-extra,upperdir=/var/endless
