[Unit]
After=ostree-remount.service
Before=local-fs.target
ConditionPathIsDirectory=/var/endless-extra

# Don't break existing systems with the old symlink setup
ConditionPathIsSymbolicLink=!/endless

# Overlay mount dependencies. Only After is specified for
# /var/endless-extra so that single disk units don't wait for a device
# that doesn't exist.
After=var-endless\x2dextra.mount
RequiresMountsFor=/var/endless

[Mount]
What=endless
Where=/endless
Type=overlayfs
Options=rw,lowerdir=/var/endless-extra,upperdir=/var/endless

[Install]
WantedBy=local-fs.target
