[Unit]
Description=swap with zram
Before=multi-user.target
After=swap.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/sbin/eos-enable-zram 1
ExecStop=/usr/sbin/eos-enable-zram 0

[Install]
WantedBy=multi-user.target
