# Run eos-firstboot early during boot

[Unit]
Description=Endless Boot Helper
DefaultDependencies=no
After=sysinit.target local-fs.target
Before=basic.target
ConditionPathExists=!/var/lib/%N
ConditionKernelCommandLine=!endless.live_boot

[Service]
ExecStart=/usr/sbin/eos-firstboot
ExecStartPost=-rm -f /var/eos-booted
StandardOutput=journal+console

[Install]
WantedBy=basic.target
