[Unit]
Description=EOS Companion App Service
After=network.target eos-companion-app.socket
Requires=eos-companion-app.socket

[Service]
ExecStart=/usr/bin/flatpak run --no-desktop com.endlessm.CompanionAppService
User=companion-app-helper

PrivateTmp=yes
