[Unit]
Description=Remove old Flatpak extension directory from extra storage
ConditionArchitecture=arm
ConditionPathIsMountPoint=/var/endless-extra
ConditionPathExists=/var/endless-extra/flatpak
ConditionPathIsDirectory=/var/endless-extra/flatpak/extension
ConditionPathIsSymbolicLink=!/var/endless-extra/flatpak/extension
Before=eos-setup-flatpak-extension-dir-extra.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/rm -rf /var/endless-extra/flatpak/extension

[Install]
WantedBy=multi-user.target
