# Clean up the flatpak repositories after an OS upgrade
# so that existing users match our current default configuration

[Unit]
Description=Configure default flatpak repositories
DefaultDependencies=no
Conflicts=shutdown.target
Wants=local-fs.target
After=local-fs.target

# Only run on updates
Before=multi-user.target systemd-update-done.service
ConditionNeedsUpdate=|/etc
ConditionNeedsUpdate=|/var

# Ensure that the extra disk for a split-disk system has been mounted
Requires=eos-extra-settled.target
After=eos-extra-settled.target

# Try to run before any ostree and flatpak clients so that they all see
# the updated repo configuration
Before=eos-autoupdater.service eos-updater.service
Before=eos-updater-avahi.service eos-update-server.service
Before=eos-updater-flatpak-installer.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/sbin/eos-update-flatpak-repos

[Install]
WantedBy=multi-user.target
