# Clean up any home directories which were created with
# default permissions 755 rather than 700

[Unit]
Description=Fix existing home directory permissions from 755 to 700

# Only run if the home dir permissions have not yet been cleaned up.
# The default dir mode was changed for 3.1.6,
# and we only want to perform this cleanup once, in case
# an admin later intentionally changes home dir permissions.
ConditionPathExists=!/var/lib/misc/eos-dir-mode-700

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/eos-fix-home-dir-permissions

[Install]
WantedBy=multi-user.target
