# Clean up the flatpak repositories after an OS upgrade
# so that existing users match our current default configuration

[Unit]
Description=Configure default flatpak repositories
DefaultDependencies=no
Conflicts=shutdown.target
Wants=local-fs.target
After=local-fs.target

# Only run on updates
Before=multi-user.target systemd-update-done.service
ConditionNeedsUpdate=|/etc
ConditionNeedsUpdate=|/var

# Try to run before any ostree and flatpak clients so that they all see
# the updated repo configuration
Before=eos-autoupdater.service eos-updater.service
Before=eos-updater-avahi.service eos-update-server.service
Before=eos-updater-flatpak-installer.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/sbin/eos-update-flatpak-repos

# Flatpak checks parental controls at deploy time. In order to do this, it
# needs to talk to accountsservice on the system bus, neither of which are
# running when this job runs.
Environment=FLATPAK_SKIP_PARENTAL_CONTROLS_NO_SYSTEM_BUS=1

[Install]
WantedBy=multi-user.target
