[Unit]
Description=Endless live boot overlayfs setup
DefaultDependencies=no
After=ostree-remount.service var.mount
Before=local-fs.target systemd-random-seed.service
ConditionKernelCommandLine=endless.live_boot

[Service]
Type=oneshot
ExecStart=/usr/sbin/eos-live-boot-overlayfs-setup

[Install]
WantedBy=local-fs.target
