# Run eos-extra-resize before /var/endless-extra is mounted.

[Unit]
Description=Endless extra storage resizing
DefaultDependencies=no
After=-.mount
After=systemd-remount-fs.service
After=ostree-remount.service
Before=var-endless\x2dextra.mount
Before=systemd-fsck@dev-disk-by\x2dlabel-extra.service
ConditionPathExists=/dev/disk/by-label/extra
ConditionPathExists=!/var/eos-extra-resize

[Service]
Type=oneshot
ExecStart=/usr/sbin/eos-extra-resize
StandardOutput=journal+console
TimeoutSec=0

[Install]
WantedBy=local-fs.target
WantedBy=systemd-fsck@dev-disk-by\x2dlabel-extra.service
