# Run eos-extra-resize before /var/endless-extra is mounted.

[Unit]
Description=Endless extra storage resizing
DefaultDependencies=no
After=-.mount
After=systemd-remount-fs.service
After=ostree-remount.service
After=dev-disk-by\x2dlabel-extra.device
Requires=dev-disk-by\x2dlabel-extra.device
Before=var-endless\x2dextra.mount
Before=systemd-fsck@dev-disk-by\x2dlabel-extra.service
ConditionPathExists=!/var/eos-extra-resize2

[Service]
Type=oneshot
ExecStart=/usr/sbin/eos-extra-resize
StandardOutput=journal+console
TimeoutSec=0
