[Unit]
Description=configure persistent journal on durable storage
Before=multi-user.target
ConditionPathExists=!/var/log/journal
ConditionPathExists=!/var/log/.no_journal_on_fragile_storage

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/sbin/eos-config-journal

[Install]
WantedBy=multi-user.target
