# Enable the /var/endless-extra mount on split image systems that are
# being upgraded by ostree.

[Unit]
Description=Enable Endless extra storage mount on upgrade
# Need DefaultDependencies=no so basic.target is not required
DefaultDependencies=no
After=sysinit.target local-fs.target
Before=basic.target

# Skip if this has already been run
RequiresMountsFor=/var/lib/eos-boot-helper
ConditionPathExists=!/var/lib/eos-boot-helper/eos-enable-extra-upgrade

[Service]
Type=oneshot
RemainAfterExit=yes
StandardOutput=journal+console
ExecStart=/usr/sbin/eos-enable-extra-upgrade

[Install]
WantedBy=basic.target
