# Remove the Flatpak legacy apps remote and runtimes after an OS upgrade

[Unit]
Description=Remove the legacy Flatpak external apps' remote and runtimes
DefaultDependencies=no
Conflicts=shutdown.target
Wants=local-fs.target
After=local-fs.target

# Only run on updates
Before=multi-user.target systemd-update-done.service
ConditionNeedsUpdate=/etc

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/sbin/eos-remove-legacy-external-apps

[Install]
WantedBy=multi-user.target
