[Unit]
Description=Endless live boot overlayfs setup
DefaultDependencies=no
ConditionKernelCommandLine=endless.live_boot

# systemd-remount-fs.service is masked by the live boot generator, but
# make sure to run after it.
After=systemd-remount-fs.service

# ostree-remount.service is ordered after var.mount, so this service
# expects to run before it. Order it explicitly to make sure.
Before=ostree-remount.service

# Make sure the overlay setup is complete before services that need real
# filesystems are started. Normally local-fs.target would be good
# enough, but systemd optimizes some units to only wait for /var rather
# than all local filesystems. Note that ordering before var.mount means
# this service has to handle the /var mount itself.
Before=local-fs.target var.mount

[Service]
Type=oneshot
ExecStart=/usr/sbin/eos-live-boot-overlayfs-setup
RemainAfterExit=yes

[Install]
WantedBy=local-fs.target var.mount
