# Enable the /var/endless-extra mount on split image systems that are
# being upgraded by ostree.

[Unit]
Description=Enable Endless extra storage mount on upgrade
# Need DefaultDependencies=no so local-fs.target is not required
DefaultDependencies=no
# Standard local-fs conflicts and ordering
Conflicts=shutdown.target
Before=local-fs.target shutdown.target
# Need normal mounts done for /usr and /var from ostree
After=ostree-remount.service
# Ensure /var/eos-extra-resize has been created
After=eos-extra-resize.service
# Run before systemd analyzes the /var/endless-extra mount unit
Before=var-endless\x2dextra.mount

# Only run on updates
Before=systemd-update-done.service
ConditionNeedsUpdate=/etc

# Only run on units that have resized the extra filesystem
ConditionPathExists=/var/eos-extra-resize

[Service]
Type=oneshot
RemainAfterExit=yes
StandardOutput=journal+console
ExecStart=/usr/sbin/eos-enable-extra-upgrade

[Install]
WantedBy=local-fs.target
