[Unit]
Description=swap with zram
Before=swap.target
ConditionArchitecture=|arm
ConditionArchitecture=|arm64

[Service]
Type=oneshot
RemainAfterExit=true

ExecStart=/usr/sbin/eos-enable-zram 200
ExecStop=/usr/sbin/eos-enable-zram 0

[Install]
WantedBy=swap.target
