[Unit]
Description=Migrate eos-image-defaults to /var/lib
ConditionPathExists=|!/var/lib/eos-image-defaults/settings
ConditionPathExists=|/var/lib/.eos-migrate-image-defaults

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/sbin/eos-migrate-image-defaults

[Install]
WantedBy=multi-user.target
