[Unit]
Description=Endless prune printers
After=cups.service
Wants=cups.service
ConditionPathExists=!/var/lib/eos4-prune-printers
ConditionKernelCommandLine=!endless.live_boot

[Service]
Type=oneshot
ExecStart=/usr/sbin/eos-prune-printers
StandardOutput=journal

[Install]
WantedBy=multi-user.target
