# Enable the /var/endless-extra mount on split image systems that are
# being upgraded by ostree.

[Unit]
Description=Enable Endless extra storage mount on upgrade
# Need DefaultDependencies=no so sysinit.target is not required
DefaultDependencies=no
Conflicts=shutdown.target
After=local-fs.target
Before=sysinit.target shutdown.target systemd-update-done.service
ConditionNeedsUpdate=/etc

# Only run on units that have resized the extra filesystem
ConditionPathExists=/var/eos-extra-resize

[Service]
Type=oneshot
RemainAfterExit=yes
StandardOutput=journal+console
ExecStart=/usr/sbin/eos-enable-extra-upgrade

[Install]
WantedBy=basic.target
