# Add the stable GNOME flatpak repositories after an OS upgrade

[Unit]
Description=Configure the stable GNOME flatpak repositories
DefaultDependencies=no
Conflicts=shutdown.target
Wants=local-fs.target
After=local-fs.target

# Only run on updates
Before=multi-user.target systemd-update-done.service
ConditionNeedsUpdate=/etc

# Wait until the core.add-remotes-config-dir repo option is set
After=eos-ostree-remotes-config.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/sbin/eos-add-flatpak-gnome-repos

[Install]
WantedBy=multi-user.target
