[Unit]
Description=Setup Kolibri to use data from Endless Live USB Storage
After=systemd-tmpfiles-setup.service
ConditionKernelCommandLine=endless.image.device
ConditionKernelCommandLine=endless.live_boot
ConditionDirectoryNotEmpty=/run/kolibrihome

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'echo -e "[Environment]\nKOLIBRI_HOME=/run/kolibrihome" > /run/flatpak/overrides/org.learningequality.Kolibri'

[Install]
WantedBy=multi-user.target
