[Unit]
Description=Nvidia graphics management
Before=gdm.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/nvidia-graphics-setup

[Install]
WantedBy=graphical.target
