[Unit]
Description=Kiwix data from Endless Live USB Storage
ConditionKernelCommandLine=endless.image.device
ConditionKernelCommandLine=endless.live_boot
ConditionDirectoryNotEmpty=/run/media/eoslive/.kiwix

[Mount]
What=/run/media/eoslive/.kiwix
Where=/run/kiwixhome
Options=bind

[Install]
WantedBy=multi-user.target
