[Unit]
After=ostree-remount.service
After=eos-extra-resize.service
Wants=eos-extra-resize.service
Before=local-fs.target
ConditionPathIsDirectory=/var/endless-extra

[Mount]
What=/dev/disk/by-label/extra
Where=/var/endless-extra
Type=ext4
