[Unit]
DefaultDependencies=no
After=local-fs-pre.target
After=ostree-remount.service
After=eos-extra-resize.service
Wants=eos-extra-resize.service
Conflicts=umount.target
Before=umount.target
Before=local-fs.target
ConditionPathIsDirectory=/var/endless-extra

[Mount]
What=/dev/disk/by-label/extra
Where=/var/endless-extra
Type=ext4
FsckPassNo=2
Options=ro
