[Unit]
Description=Pressure Stall Information Monitor
ConditionPathExists=/proc/pressure
After=sysinit.target

[Service]
ExecStart=/usr/sbin/psi-monitor
Restart=on-failure

[Install]
WantedBy=basic.target
