# eos-factory-reset-users.service - Remove All Users And Home Directories
#
# This unit will be disabled by default, and should be enabled to have it
# remove all user accounts and home directories on the next boot. It will
# disable itself automatically after running through its ExecStopPost
# statement, which is executed despite of the service's main process exit
# status.
#
# This unit needs to be ordered before any unprivileged users are able to
# login, but after the D-Bus daemon has already started. dbus.service is
# ordered after basic.target, so we can't order this unit before basic.target,
# otherwise userdel will block waiting for a reply from the D-Bus daemon.
#
# Ordering this unit before systemd-user-sessions.service guarantees no
# unprivileged users will login before it finishes, as a tmpfile snippet
# creates /run/nologin during early boot and systemd-user-sessions.service
# removes it when the boot is finished. See pam_nologin(8) for more info.
#
# This unit also needs to be ordered before display-manager.service, to have
# GDM started only after all users are already removed so it knows it should
# launch the FBE.

[Unit]
Description=Remove All Users And Home Directories
RefuseManualStart=yes
Wants=dbus.service
Before=systemd-user-sessions.service display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/lib/eos-boot-helper/eos-factory-reset/eos-factory-reset-users
ExecStopPost=/usr/bin/systemctl disable %n

[Install]
WantedBy=multi-user.target
