Source: eos-boot-helper
Section: admin
Priority: optional
Maintainer: Daniel Drake <drake@endlessm.com>
Build-Depends: debhelper (>= 8), dh-systemd
Standards-Version: 3.9.1
Homepage: https://endlessm.com

Package: eos-boot-helper
Architecture: all
Description: Endless boot helper
Depends: ${misc:Depends}, dracut
