Source: eos-boot-helper
Section: admin
Priority: optional
Maintainer: Daniel Drake <drake@endlessm.com>
Build-Depends: automake,
               debhelper (>= 8),
               dh-systemd,
               pkg-config,
               systemd,
               udev,
               python3,
               python3-parted,
Standards-Version: 3.9.1
Homepage: https://endlessm.com

Package: eos-boot-helper
Architecture: any
Description: Endless boot helper
Depends: ${misc:Depends},
         dracut,
         xinit,
         xterm,
         iptables,
         ostree,
         flatpak,
         gir1.2-flatpak-1.0,
         gir1.2-glib-2.0,
         python3,
         python3-gi,
         python3-parted,
         python3-systemd,
         util-linux (>= 2.30.0),
Breaks: systemd (<= 232+dev145.a41a4e3-23)
Replaces: systemd (<= 232+dev145.a41a4e3-23)
