[Unit]
Description=EOS repartitioning

# Dependencies based around dracut-pre-mount.service
DefaultDependencies=no
Before=initrd-root-fs.target sysroot.mount
After=dracut-pre-mount.service
ConditionPathExists=/etc/initrd-release

# wait for the root device to be ready, but avoid running at the same time
# as fsck.
After=dev-disk-by\x2dlabel-ostree.device
Before=systemd-fsck@dev-disk-by\x2dlabel-ostree.service

[Service]
Type=oneshot
ExecStart=-/bin/endless-repartition
RemainAfterExit=yes
