[Unit]
Description=EOS repartitioning
ConditionPathExists=/etc/initrd-release
ConditionKernelCommandLine=!endless.live_boot

# Our position in the boot order is important. Naturally, we need to run
# after the root device is available, before the root fs is mounted.
# We also need to run before fsck: the repartitioning process causes the disk
# device to be reprobed, which would otherwise cause the fsck unit to run
# multiple times.
DefaultDependencies=no
Before=initrd-root-fs.target sysroot.mount systemd-fsck-root.service
After=initrd-root-device.target dracut-pre-mount.service

[Service]
Type=oneshot
ExecStart=-/bin/endless-repartition
RemainAfterExit=yes
